.register_component {
  padding: 40px 0px;
  margin-top: 50px;
  .content {
    width: 700px;
    .steps {
      .steps_box {
        padding: 0px 40px;
        width: 100%;

        display: flex;
        flex-direction: row;

        /*======= MEDIA QUERIES (SMALL DEVICES) =======*/
        @media screen and (max-width: 575px) {
          padding: 0px 0px;
        }
      }
      .steps_box .ant-steps-item-icon {
        /*======= MEDIA QUERIES (SMALL DEVICES) =======*/
        @media screen and (max-width: 575px) {
          margin-right: 5px;
        }
      }
      /* Custom styles for the active step */
      .steps_box .ant-steps-item-active .ant-steps-item-icon {
        background-color: var(--color-green);
        border-color: var(--color-green);
      }

      .ant-steps-item
        > .ant-steps-item-container
        > .ant-steps-item-content
        > .ant-steps-item-title::after,
      .ant-steps-item
        > .ant-steps-item-container
        > .ant-steps-item-tail::after {
        background: transparent !important;
        display: none;
      }

      .steps_box .ant-steps-item-active .ant-steps-title {
        color: var(--color-green);
        cursor: pointer;
      }

      /* Custom styles for the active step */
      .steps_box .ant-steps-item-active .ant-steps-item-title {
        color: var(--color-green); /* Change this to your desired color */
        cursor: pointer;
      }

      /* Custom styles for completed steps */
      .steps_box .ant-steps-item-finish .ant-steps-item-icon {
        background-color: var(--color-dark);
      }

      .steps_box .ant-steps-item-finish .ant-steps-item-icon .ant-steps-icon {
        color: var(--color-primary) !important;
      }

      .steps_box .ant-steps-item-finish .ant-steps-title {
        color: var(--color-primary);
        cursor: pointer;
      }
      .steps_box .ant-steps-item-finish .ant-steps-item-title {
        cursor: pointer;
      }
    }
    .inner_form {
      width: 100%;
      .visible {
        display: block;
      }
      .hidden {
        display: none;
      }
      .basic_information {
        width: 100% !important;
      }
      .grid_form {
        padding: 30px 20px;
        display: grid;

        grid-template-columns: repeat(1fr);
        width: 100%;
        column-gap: 10%;
        row-gap: 15px;
        .step_description_text {
          .lower_text {
            text-align: center;
          }
        }
        .form_group {
          width: 100%;
          .input_span {
            padding-right: 10px;
            width: 100%;
            display: flex;
            flex-direction: column;
            label {
              font-size: 15px;
            }
            #issueType {
              height: 15px !important;
              outline: none !important;
              .MuiOutlinedInput-notchedOutline {
                border: none !important;
              }
            }

            input {
              padding: 10px;
              width: 100%;
              background: transparent;
              border: 1px solid var(--color-gray);
              border-radius: 6px;
            }

            select {
              border: none;
              width: 100%;
              padding: 10px;
              outline: none;
              background: transparent;
            }
          }
        }
        .btn {
          width: 100%;
          .main_btn {
            width: 50%;
            min-width: 200px;
            gap: 10px;
            font-size: 15px;
            padding: 10px 20px;
            .icon {
              font-size: 20px;
            }
          }
        }
        /*======= MEDIA QUERIES (SMALL DEVICES) =======*/
        @media screen and (max-width: 575px) {
          padding-top: 10px;
        }
      }
      .basic_information {
        .labels {
          .labels_box {
            gap: 20px;
            .privacy_label {
              border: 1px solid var(--color-border);
              padding: 15px;
              width: 150px;
              border-radius: 15px;
              cursor: pointer;
              &.active {
                background-color: var(--color-light-light-green);
              }
              .public_anony_box {
                .icon {
                  color: var(--color-primary);
                }
                .img {
                  width: 30px;
                  height: 30px;
                  border-radius: 50%;
                  background-color: var(--color-green);
                }
                .title {
                  margin-top: 5px;
                  margin-bottom: 10px;
                }
                .prefered_text {
                  p {
                    font-size: 15px;
                  }
                }
              }
            }
            /*======= MEDIA QUERIES (SMALL DEVICES) =======*/
            @media screen and (max-width: 380px) {
              flex-direction: column;
              .privacy_label {
                width: 100%;
              }
            }
          }
        }
        .error {
          text-align: center;
        }
      }
      .upload_information {
        .image_vid_uploads_btn {
          .upload_images_vid {
            flex-wrap: wrap;
            gap: 10px;
            .drop_zone {
              position: relative;
              padding-bottom: 0;
              margin-bottom: 0;
              width: 150px;
              height: 150px;
              border-radius: 5px;
              border: 1px dotted var(--color-border);
              overflow: hidden;
              transition: all 0.5s ease-in-out;
              .images {
                width: 100%;
                height: 100%;
                object-fit: contain;
              }
              .icon_bg {
                position: absolute;
                display: none;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                background: rgba(0, 0, 0, 0.081);
                transition: all 0.5s ease-in-out;
                .icon {
                  background-color: var(--color-light-gray);
                  padding: 5px;
                  color: rgba(0, 0, 0, 0.5);
                  border-radius: 50%;
                  cursor: pointer;
                  font-size: 22px !important;
                }
              }
              &:hover {
                .icon_bg {
                  display: flex;
                }
              }
            }
            .span_vid {
              gap: 5px;
              .close_btn {
                border-radius: 50%;
                width: 10px;
                height: 10px;
                .icon {
                  font-size: 18px;
                  color: var(--color-red);
                }
              }
            }
          }
          .img_vid_btn {
            width: fit-content;
            .label_btn {
              cursor: pointer;

              .uplaod_icon_btn {
                border: 1px solid var(--color-gray);
                width: fit-content;
                padding: 4px 10px;
                border-radius: 8px;
                cursor: pointer;
                margin: 8px 0px;
                gap: 5px;
                .icon {
                  font-size: 20px;
                }
                .text {
                  font-size: 13px;
                }
              }
            }
            .hint {
              p {
                color: var(--color-gray);
                font-size: 12px;
              }
            }
          }
        }
      }

      .lower_text {
        .check_box {
          .ant-checkbox-checked .ant-checkbox-inner {
            background-color: var(--color-primary);
            border-color: var(--color-primary); // Change checkbox border color
            position: relative;
            bottom: 8px;
          }

          .ant-checkbox-inner {
            border-color: var(--color-primary);
            position: relative;
            bottom: 8px;
            /*======= MEDIA QUERIES (SMALL DEVICES) =======*/
            @media screen and (max-width: 662px) {
              bottom: 20px;
            }
            /*======= MEDIA QUERIES (SMALL DEVICES) =======*/
            @media screen and (max-width: 456px) {
              bottom: 30px;
            }
          }

          .ant-checkbox-wrapper {
            color: var(--color-primary);
          }
        }
        /*======= MEDIA QUERIES (SMALL DEVICES) =======*/
        @media screen and (max-width: 900px) {
          padding: 0px 20px;
        }
      }
    }

    /*======= MEDIA QUERIES (SMALL DEVICES) =======*/
    @media screen and (max-width: 900px) {
      width: 100%;
      .inner_form {
        .grid_form {
          grid-template-columns: 1fr;
          .mobile {
            display: none;
          }
        }
      }
    }
  }
}
