.form_screen_content {
  display: flex;
  justify-content: center;
  width: 100%;
  @media (max-width: 900px) {
    display: block;
  }
}
.form_screens {
  .nav_bar {
    .nav_links {
      display: none;
    }
  }
}
